name: email_alias
description: "Application to create aliases for an email on a mailcow server"
publish_to: 'none'

version: 1.0.0+2

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  cupertino_icons: ^1.0.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_secure_storage: ^10.0.0
  flutter_settings_ui: ^3.0.0
  flutter_split_view: ^1.0.2-pre
  go_router: ^17.0.0
  hive_ce: ^2.0.0
  hive_ce_flutter: ^2.0.0
  http: ^1.0.0
  image: ^4.0.0
  intl: ^0.20.2
  json_annotation: ^4.9.0
  qr_image: ^1.0.0
  share_plus: ^12.0.0
  shared:
    path: shared
  sqflite: ^2.0.0
  toastification: ^3.0.0
  url_launcher: ^6.0.0

dev_dependencies:
  build_runner: ^2.0.0
  flutter_lints: ^6.0.0
  go_router_builder: ^4.0.0
  json_serializable: ^6.0.0
  msix: ^3.0.0

flutter:
  assets:
    - licenses/MaterialIconsLicense
  generate: true
  uses-material-design: true

msix_config:
  display_name: Email Alias
  publisher_display_name: Sven Op de Hipt
  identity_name: com.opdehipt.emailAlias
  msix_version: 1.0.0.0
  logo_path: ./windows/Icon.png
  capabilities: internetClient
  install_certificate: false
